body {
    color: white;
    background-color: black;
}
p{
    font-size: 25;
}
li{
    font-size: 25;
}
img {
    margin: 10;
}
table {
font-size: 12px;
margin-left:auto;
margin-right:auto;
border-collapse: collapse;
}
table th {
font-size: 14px;
font-weight: bold;
border: 1px solid #999999;
padding: 0px 5px;
}
table td {
border: 1px solid #999999;
padding: 5px 5px;
}
code {
    font-size:  20;
}